<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Careers</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">At WJS Transport Inc trucking isn’t just our business—it’s our commitment. Founded on
      reliability, integrity, and hard work, we’ve built a reputation as a trusted transportation partner across North
      America. From coast to coast, our mission is to move freight safely, efficiently, and on time—no matter the load,
      route, or schedule.</p>
  </div>
</div>


<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5 shadow-lg border rounded-3">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Looking to become our team member?</h1>
      <p class="col-lg-10 fs-4">Fill out the form and we will contact you.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3"> <input type="text" class="form-control" id="Name"
            placeholder="Name"> <label for="Name">Name</label>
          <div data-lastpass-icon-root=""
            style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
          </div>
        </div>
        <div class="form-floating mb-3"> <input type="email" class="form-control" id="Email"
            placeholder="Email"> <label for="Email">Email</label>
          <div data-lastpass-icon-root=""
            style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
          </div>
        </div>
         <div class="form-floating mb-3"> <input type="text" class="form-control" id="Phone"
            placeholder="Phone"> <label for="Phone">Phone</label>
          <div data-lastpass-icon-root=""
            style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
          </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>