<div class="container px-4 " id="custom-cards">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 ">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-3 shadow-lg"
        style="background-image: url('redtruck1.jpg');">
        <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
          <h3 class="pt-5 mt-4 mb-4 display-6 lh-1 fw-bold">Full truck load</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center"> <small>FTL</small> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-3 shadow-lg"
        style="background-image: url('redtruck3.jpg');">
        <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
          <h3 class="pt-5 mt-4 mb-4 display-6 lh-1 fw-bold">Less than Load</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center"> <small>LTL</small> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-3 shadow-lg"
        style="background-image: url('redtruck10.jpg');">
        <div class="d-flex flex-column h-100 p-5 text-shadow-1">
          <h3 class="pt-5 mt-4 mb-4 display-6 lh-1 fw-bold">Coast to coast</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center"> <small>CTC</small> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>