<!-- <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
      aria-controls="offcanvas" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5> <button type="button" class="btn-close"
          data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-between">
          <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/services">Services</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/careers">Careers</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->


<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> <a href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
      <img class="bi me-2" width="160" height="40" aria-hidden="true" src="logo.png">
       </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link" >Home</a></li>
      <li class="nav-item"><a routerLink="/services" routerLinkActive="active" class="nav-link">Services</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
      <li class="nav-item"><a routerLink="/careers" routerLinkActive="active" class="nav-link">Careers</a></li>
      <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a></li>
    </ul>
  </header>
</div>