<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Contact Us</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">At WJS Transport Inc trucking isn’t just our business—it’s our commitment. Founded on
      reliability, integrity, and hard work, we’ve built a reputation as a trusted transportation partner across North
      America. From coast to coast, our mission is to move freight safely, efficiently, and on time—no matter the load,
      route, or schedule.</p>
  </div>
</div>

<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-4">Our office</h1>
      <p class="lead">Address: 217 Seabrook Dr, Kitchener, ON N2R 0G2.</p>
      <p class="lead">Email: dispatch&#64;wjstransport.com</p>
      <p class="lead">Phone: 226.541.3377</p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg"> <img class="rounded-lg-3" src="truck.png"
        alt="" width="720"> </div>
  </div>
</div>