<div class="container col-xxl-8 px-4 py-5 mt-5">
  <div class="row flex-lg-row-reverse align-items-center bg-body-tertiary g-5 py-5 rounded-3 shadow">
    <div class="col-10 col-sm-8 col-lg-6"> <img src="/truck.png" class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes" width="700" height="500" loading="lazy"> </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">WJS Transport</h1>
      <p class="lead">WJS Transport Inc. is a trusted trucking company operating in Canada and the USA.
        With a modern fleet of well-maintained trucks and advanced tracking systems,
        we ensure the secure and timely delivery of your cargo.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"> <button type="button"
          class="btn btn-primary btn-lg px-4 me-md-2">Services</button> <button type="button"
          class="btn btn-outline-secondary btn-lg px-4">About</button> </div>
    </div>
  </div>
</div>

